<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Skin Self-Check</h1>
</div>
<div class="wrapper-md">


  <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">

    <!-- tab -->
    <tab heading="Step 1" active="steps.step1" select="steps.percent=10">
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      
      <!-- <progressbar value="steps.percent" class="progress-xs" type="info"></progressbar> -->
      <!-- toolbar -->
      <form name="step1" class="form-validation">
      <div class="row">

          <div class="col-sm-8" style="">
                <div class="panel b-a">
                  <div class="panel-heading">
                    
                  </div>
                  <div class="panel-body" style="height:600px">
                    <div id="sse-body-map" ng-controller="LeafletMoleMapController">
                      <leaflet lf-center="center" defaults="defaults" layers="layers" maxBounds="maxBounds" event-broadcast="events" markers="markers" height="545px" width="700px">
                      </leaflet>
                    </div>

                  </div>
                </div>

                <div class="panel-footer">
                                    
                </div>
          </div>

          <div class="col-sm-4">
               <div data-ng-include=" 'tpl/blocks/sse-mole-form.html' "></div>
              </div>
          </div>            
    </form>


      <!-- next prev -->
      <div data-ng-include=" 'tpl/blocks/sse-navigation.html' "></div>

    <!-- / tab -->
    </tab>

    <tab heading="2. Arms (front/side)" disabled="step1.$invalid" active="steps.step2" select="steps.percent=20">
      <form name="step2" class="form-validation">
        <p class="m-b">Please review your moles to continue</p>
        <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
        <p>Your age:</p>
        <input type="number" name="age" class="form-control" ng-model="age" required>
        <div class="m-t m-b">
          <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true">Prev</button>
          <button type="submit" ng-disabled="step2.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step3=true">Next</button>
        </div>
      </form>
    </tab>
    <!-- / tab -->

    <tab heading="3. Hands" active="steps.step3" select="steps.percent=60">
      <p class="m-b">Congraduations! You got the last step.</p>
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      <p>Just one click to finish it.</p>
      <div class="m-t m-b">
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step2=true">Prev</button>
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.percent=100">Click me to Finish</button>
      </div>
    </tab>
    <!-- / tab -->

  </tabset>
</div>